name: .NET

on:
  push:
    branches: [ master ]
  create:
    tags:
      - '*.*.*'
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Check Tag
      id: check-tag
      run: |
        if [[ v${{ github.event.ref }} =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "match=true" >> $GITHUB_OUTPUT
        fi

    - name: Run Unit Tests
      run: |
        dotnet restore
        dotnet build
        dotnet test test/NosCore.Algorithm.Tests -v m

    - name: Build Artifact
      if: steps.check-tag.outputs.match == 'true'
      id: build_artifact
      run: |
        dotnet restore
        dotnet build -c Release
        dotnet pack -c Release -o /tmp/nupkgs -v m -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg
        dotnet nuget push /tmp/nupkgs/NosCore.Algorithm.${{github.event.ref}}.nupkg -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}
        echo "ARTIFACT_PATH=/tmp/nupkgs/NosCore.Algorithm.${{github.event.ref}}.nupkg" >> $GITHUB_OUTPUT
        echo "ARTIFACT_NAME=NosCore.Algorithm.${{github.event.ref}}.nupkg" >> $GITHUB_OUTPUT

    - name: Upload Release Asset
      if: steps.check-tag.outputs.match == 'true'
      env:
        GH_TOKEN: ${{ secrets.REPO_TOKEN }}
      run: |
        gh release upload ${{ github.event.ref }} ${{ steps.build_artifact.outputs.ARTIFACT_PATH }}

